
/* Navigation Bar */
#navbar{
    display: flex;
    padding-top: 1px;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.1;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    justify-content:center;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.extra1{
   width: 50%;
   margin:8%;
  
}

/* For the Product page */
#home{
    position: relative;
    background: url('../bgd.jpg') no-repeat center center/cover;
    height: 750px;
    
}
#homeinside{
    background-color:white;
    position:absolute;
    height: 90%;
    border: 1px solid black;
    border-radius: 5px;
    width: 95%;
    margin: 25px;
    box-shadow:20px 20px 20px;
    opacity: 10;
    
}
/* For the Slider */
.container{
   margin-top: 10px;    
}
.newphone{
    background:greenyellow;
    width: 50px;
    color:whitesmoke;
    font-size: 12px;
    font-weight: bold;

}
table{
    width: 900px;
}

#star{
    height: 50px;
    width: 100px;
}
.icon1{
    margin-top:6px;
    

}
#secbody{
    margin-top:350px;
    background: #F5F5F5;
    height: 6400px;
    
}
#secbodyinside{
    background-color:white;
    position:absolute;
    height: 840%;
    border: 1px solid black;
    border-radius: 2px;
    width: 95%;
    margin: 25px;
    box-shadow:20px 20px 20px;
    opacity: 10;
    padding: 30px;
} 
#first1{
 font-size: 20px;
 justify-content: center;
}

.pro{
    width: 500px;
    padding:7px;
    font-family: 'Ubuntu', sans-serif;
}
.th1{
width: 400px;
font-family: Roboto, Myriad Pro, Tahoma, sans-serif;
}
svg{
    color: #FFEA00;
    

}
.svg1{
    
    color: whitesmoke;
    padding:10px;
    background-color:transparent;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 4px;
}
td{
    width: 400px;
    margin: 20px;
}
.th1{
    
    font-size:20px;
}

.box{
    width: 1500px;
    margin: 100px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
 }
 
 .box .heading{
    background: #757575;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "ubuntu";
 }
 
 .faqs{
    padding: 0px 20px 20px;
 }
 
 ::-webkit-details-marker{
    float: right;
    margin-top: 3px;
 }
 
 .text {
     font-family:"Ubuntu";
     font-size:17px;
     padding:3px;
 }
 details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Ubuntu";
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    font-style:bolder;
 }
 
 details summary{
    outline: none;
 }
 #width1{
     height: 900px;
 }
 .foot{
     margin-top:10px;

 }
